{% extends 'core/base_generic.html' %}
{% load static %}

{% block title %}
<title>Crear Usuario - PC Builds</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/Scripts/style.css' %}">
{% endblock css %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center">Formulario de Registro</h2>
  <div class="fondoform">
    <form id="registroForm" action="{% url 'registrar_usuario_admin' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
  </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'core/Scripts/script.js' %}" defer></script>
{% endblock js %}
