{% extends 'core/base_generic.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/Scripts/style.css' %}">
{% endblock css %}

{% block title %}
<title>Admin - PC Builds</title>
{% endblock title %}

{% block content %}
<div class="row fondogeneralosos">
    <div class="col-md-3 col-sm-12 col-12">
        <div class="navegador">
            <nav class="barranav">
                <ul>
                    <!-- Aquí puedes añadir enlaces de navegación si es necesario -->
                </ul>
            </nav>
        </div>
    </div>

    <div class="col-md-9 col-sm-12 col-12 container2">
        <div class="col-md-12">
            <div class="container-editar">
                <div class="container-datos administracion">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="textoadmin">
                                <h1 class="titulo">Administrador PC BUILDS</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 ">
            <div class="container-editar">
                <div class="container-datos administracion">
                    <h4 id="titulo">Administrar Usuarios</h4>
                    <div class="row botonfiguras">
                        <div class="col-md-12">
                            <div class="boton">
                                <a href="{% url 'registrar_usuario_admin' %}">Crear Usuario</a>
                            </div>
                        </div>
                    </div>
                    <div class="row botonfiguras">
                        <div class="col-md-12">
                            <div class="boton">
                                <a href="{% url 'listar_usuarios' %}">Listado Usuarios</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 ">
            <div class="container-editar">
                <div class="container-datos administracion">
                    <h4 id="titulo">Administrar Discos Duros</h4>
                    <div class="row botonfiguras">
                        <div class="col-md-12">
                            <div class="boton">
                                <a href="{% url 'agregar_disco_duro' %}">Agregar Disco Duro</a>
                            </div>
                        </div>
                    </div>
                    <div class="row botonfiguras">
                        <div class="col-md-12">
                            <div class="boton">
                                <a href="{% url 'listar_discos_duros' %}">Listado Discos Duros</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 ">
            <div class="container-editar">
                <div class="container-datos administracion">
                    <h4 id="titulo">Administrar Gabinetes</h4>
                    <div class="row botonfiguras">
                        <div class="col-md-12">
                            <div class="boton">
                                <a href="{% url 'agregar_gabinete' %}">Agregar Gabinete</a>
                            </div>
                        </div>
                    </div>
                    <div class="row botonfiguras">
                        <div class="col-md-12">
                            <div class="boton">
                                <a href="{% url 'listar_gabinetes' %}">Listado Gabinetes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 ">
            <div class="container-editar">
                <div class="container-datos administracion">
                    <h4 id="titulo">Administrar Procesadores</h4>
                    <div class="row botonfiguras">
                        <div class="col-md-12">
                            <div class="boton">
                                <a href="{% url 'agregar_procesador' %}">Agregar Procesador</a>
                            </div>
                        </div>
                    </div>
                    <div class="row botonfiguras">
                        <div class="col-md-12">
                            <div class="boton">
                                <a href="{% url 'listar_procesadores' %}">Listado Procesadores</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 ">
            <div class="container-editar">
                <div class="container-datos administracion">
                    <h4 id="titulo">Administrar Tarjetas de Video</h4>
                    <div class="row botonfiguras">
                        <div class="col-md-12">
                            <div class="boton">
                                <a href="{% url 'agregar_tarjeta_video' %}">Agregar Tarjeta de Video</a>
                            </div>
                        </div>
                    </div>
                    <div class="row botonfiguras">
                        <div class="col-md-12">
                            <div class="boton">
                                <a href="{% url 'listar_tarjetas_video' %}">Listado Tarjetas de Video</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
