{% extends 'core/base_generic.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/Scripts/style.css' %}">
{% endblock css %}

{% block title %}
<title>Admin - PC Builds</title>
{% endblock title %}

{% block content %}
<div class="row fondogeneralosos">
    <div class="col-md-3 col-sm-12 col-12">
        <div class="navegador">
            <nav class="barranav">
                <ul>
                    </a>
                </ul>
            </nav>
        </div>
    </div>

    <div class="col-md-9 col-sm-12 col-12 container2">

        <div class="col-md-12">
            <div class="container-editar">
                <div class="container-datos administracion">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="textoadmin">
                                <h1 class="titulo">Administrador PC BUILDS</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>

 <div class="col-md-9 col-sm-12 col-12 container2">
    <div class="col-md-12 ">
      <div class="container-editar">
        <div class="container-datos administracion">
          <h4 id="titulo">Administrar Usuarios</h4>
          <div class="row botonfiguras">
            <div class="col-md-12">
              <div class="boton">
                <a href="{% url 'registrar_usuario_admin' %}">Crear Usuario</a>
              </div>
            </div>
          </div>
          <div class="row botonfiguras">
            <div class="col-md-12">
              <div class="boton">
                <a href="{% url 'listar_usuarios' %}">Listado Usuarios</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-9 col-sm-12 col-12 container2">
    <div class="col-md-12 ">
      <div class="container-editar">
        <div class="container-datos administracion">
          <h4 id="titulo">Administrar Discos Duros</h4>
          <div class="row botonfiguras">
            <div class="col-md-12">
              <div class="boton">
                <a href="{% url 'agregar_disco_duro' %}">Crear Usuario</a>
              </div>
            </div>
          </div>
          <div class="row botonfiguras">
            <div class="col-md-12">
              <div class="boton">
                <a href="{% url 'listar_discos_duros' %}">Listado Usuarios</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
