{% extends 'core/base_generic.html' %}

{% block content %}
<h2>Listar Procesadores</h2>
<a href="{% url 'agregar_procesador' %}" class="btn btn-primary">Agregar Procesador</a>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Valor</th>
            <th>Descripción</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for procesador in procesadores %}
        <tr>
            <td>{{ procesador.nombre_procesador }}</td>
            <td>{{ procesador.valor_procesador }}</td>
            <td>{{ procesador.descripcion_procesador }}</td>
            <td><img src="{{ procesador.imagen_procesador.url }}" width="100"></td>
            <td>
                <a href="{% url 'editar_procesador' procesador.pk %}" class="btn btn-warning">Editar</a>
                <form action="{% url 'borrar_procesador' procesador.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Borrar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
