{% extends 'core/base_generic.html' %}

{% block content %}
<h2>Listar Discos Duros</h2>
<a href="{% url 'agregar_disco_duro' %}" class="btn btn-primary">Agregar Disco Duro</a>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Valor</th>
            <th>Descripción</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for disco_duro in discos_duros %}
        <tr>
            <td>{{ disco_duro.nombre_disco }}</td>
            <td>{{ disco_duro.valor_disco }}</td>
            <td>{{ disco_duro.descripcion_disco }}</td>
            <td><img src="{{ disco_duro.imagen_disco.url }}" width="100"></td>
            <td>
                <a href="{% url 'editar_disco_duro' disco_duro.pk %}" class="btn btn-warning">Editar</a>
                <form action="{% url 'borrar_disco_duro' disco_duro.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Borrar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
