{% extends "core/base_generic.html" %}
{% load static %}

{% block title %}Discos SSD y M2{% endblock %}

{% block content %}
<div class="container text-center banernegro bg-dark text-white">
    <div class="row">
        <div class="col-12">
            <h1>DISCOS SSD Y M2</h1>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row align-items-center">
        <div class="col-sm-4 text-capitalize pt-4">
            <h4>DISCO SSD TOSHIBA 1TB</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-componentes/ssd1.jpg' %}"></a>
            <h3 class="pt-5">$303.580</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>Disco ssd con formato SODIMM Alcanza una velocidad de 3200 MHz</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>
        <div class="col-sm-4 text-capitalize pt-4">
            <h4>DISCO SSD SAMSUNG 2TB</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-componentes/ssd1.jpg' %}"></a>
            <h3 class="pt-5">$305.990</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>Disco ssd con formato SODIMM Alcanza una velocidad de 3200 MHz</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>
        <div class="col-sm-4 text-capitalize pt-4">
            <h4>DISCO SSD KINGSTON 500GB</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-componentes/ssd3.png' %}"></a>
            <h3 class="pt-5">$49.990</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>Disco ssd con formato SODIMM Alcanza una velocidad de 3200 MHz</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-sm-4 text-capitalize pt-4">
            <h4>DISCO SSD CHINITO 1TB</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-componentes/ssd1.jpg' %}"></a>
            <h3 class="pt-5">$303.580</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>Kit Disco ssd con formato SODIMM Alcanza una velocidad de 3200 MHz Beast 4800</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>
        <div class="col-sm-4 text-capitalize pt-4">
            <h4>DISCO SSD HP 2TB</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-componentes/ssd3.png' %}"></a>
            <h3 class="pt-5">$305.990</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>Disco ssd con formato SODIMM Alcanza una velocidad de 3200 MHz</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>
        <div class="col-sm-4 text-capitalize pt-4">
            <h4>DISCO SSD LENOVO 500GB</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-componentes/ssd1.jpg' %}"></a>
            <h3 class="pt-5">$49.990</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>Disco ssd con formato SODIMM Alcanza una velocidad de 3200 MHz</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>
    </div>
</div>
{% endblock %}
