{% extends "core/base_generic.html" %}
{% load static %}

{% block title %}Discos Duros{% endblock %}

{% block content %}
<div class="container text-center banernegro bg-dark text-white">
    <div class="row">
        <div class="col-12">
            <h1>DISCOS DUROS</h1>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row align-items-center">
        <div class="col-sm-4 text-capitalize pt-4">
            <h4>DISCO DURO TOSHIBA 1TB</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-componentes/disco7.jpg' %}"></a>
            <h3 class="pt-5">$303.580</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>disco duro 32GB (16GB x2)Kingston Fury Beast 4800</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>
        <div class="col-sm-4 text-capitalize pt-4">
            <h4>DISCO DURO SAMSUNG 2TB</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-componentes/disco2.jpg' %}"></a>
            <h3 class="pt-5">$305.990</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>disco duro 32GB (16GB x2)Kingston Fury Beast 4800</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>
        <div class="col-sm-4 text-capitalize pt-4">
            <h4>DISCO DURO KINGSTON 500GB</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-componentes/disco3.jpg' %}"></a>
            <h3 class="pt-5">$49.990</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>disco duro 32GB (16GB x2)Kingston Fury Beast 4800</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-sm-4 text-capitalize pt-4">
            <h4>DISCO DURO CHINITO 1TB</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-componentes/disco4.jpg' %}"></a>
            <h3 class="pt-5">$303.580</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>disco duro 32GB (16GB x2)Kingston Fury Beast 4800</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>
        <div class="col-sm-4 text-capitalize pt-4">
            <h4>DISCO DURO HP 2TB</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-componentes/disco5.jpg' %}"></a>
            <h3 class="pt-5">$305.990</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>Corsair memeoria con overclocking con iluminacion rgb</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>
        <div class="col-sm-4 text-capitalize pt-4">
            <h4>DISCO DURO LENOVO 500GB</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-componentes/disco6.jpg' %}"></a>
            <h3 class="pt-5">$49.990</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>Memoria con formato SODIMM Alcanza una velocidad de 3200 MHz</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>
    </div>
</div>
{% endblock %}
