{% extends 'core/base_generic.html' %}

{% block title %}Procesador Intel Core I9-12950K - PC Builds{% endblock %}

{% block content %}
<!-- Detalles del producto -->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="product-details mr-2">
        <h2>Procesador Intel Core I9-12950K</h2>
        <hr>
        <h6 class="mb-0">
          Inicio > Procesadores > i9-12950k
        </h6>
        <div class="d-flex justify-content-between">
          <p>Tienes 3 artículos en tu carrito de compras</p>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
          <div class="d-flex flex-row">
            <img class="rounded" src="{% static 'core/Imagenes/img-items-procesadores/corei7.jpg' %}" width="300">
            <div class="ml-2">
              <span class="font-weight-bold d-block"><h5>Procesador Intel Core I9-12950K</h5></span>
              <span class="spec"><b>Núcleos: </b>12 Núcleos</span>
              <span class="spec"><b>Hilos: </b>24 Hilos</span>
              <span class="spec"><b>Velocidad: </b>4.7 GHz</span>
              <span class="spec"><b>Soporta: </b>Mayor 3200mhz</span>
              <span class="spec"><b>Socket: </b>1200</span>
              <br>
              <hr>
              <h2>Precio: $280.590</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- Botones de acción -->
  <div class="row">
    <div class="col-12 text-center">
      <a href="{% url 'carrito' %}"><button type="button" class="btn btn-success btn-lg">Comprar</button></a>
      <hr>
      <a href="#"><button type="button" class="btn btn-info btn-lg">Agregar al Carrito</button></a>
      <hr>
      <img src="{% static 'core/Imagenes/Logos-img/Pagos/pay-visa.png' %}" width="40">
      <img src="{% static 'core/Imagenes/Logos-img/Pagos/pay-master.png' %}" width="40">
      <img src="{% static 'core/Imagenes/Logos-img/Pagos/pay-khipu.png' %}" width="40">
      <img src="{% static 'core/Imagenes/Logos-img/Pagos/pay-webpay.png' %}" width="40">
    </div>
  </div>
</div>
{% endblock %}
