{% extends 'core/base_generic.html' %}

{% block title %}Computador MARK-1 - PC Builds{% endblock %}

{% block content %}
<div class="container">
  <div class="row">

      <div class="col-md-8">
          <div class="product-details mr-2">
              <h2>Computador Mark-1 </h2>
                <hr>
              <h6 class="mb-0">
                Inicio > Computadores Gaming > Mark-1
              </h6>
              <div class="d-flex justify-content-between">
                  <p>Tienes 3 articulos en tu carrito de compras</p>
              </div>

              <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
                  <div class="d-flex flex-row"><img class="rounded" src="{% static 'core/Imagenes/img-items-pcgamers/mark1.png' %}" width="300">
                        <div class="ml-2">
                            <span class="font-weight-bold d-block"><h5>Computador MARK-1</h5></span>
                            <span class="spec"><b>Procesador: </b>Intel i9-12500K</span>
                            <span class="spec"><b>Targeta Video: </b>RTX 3070</span>
                            <span class="spec"><b>Gabinete: </b>Cougar RGB PRO</span>
                            <span class="spec"><b>Memorias: </b>King RGB 32 GB</span>
                            <span class="spec"><b>Windows 11 Instalado</b></span>
                            <br>
                            <hr>
                            <h2>Precio: $980.590</h2>
                        </div>
                  </div>
              </div>
            </div>
         </div>
      </div>
  </div>

  <hr>

  <div class="row">
      <div class="col-12 text-center">
        <a href="{% url 'carrito' %}"><button type="button" class="btn btn-success btn-lg">Cómprar</button></a>
        <hr>
        <a href=""><button type="button" class="btn btn-info btn-lg">Agregar al Carrito</button></a>
        <hr>
        <img src="{% static 'core/Imagenes/Logos-img/Pagos/pay-visa.png' %}" width="40">
        <img src="{% static 'core/Imagenes/Logos-img/Pagos/pay-master.png' %}" width="40">
        <img src="{% static 'core/Imagenes/Logos-img/Pagos/pay-khipu.png' %}" width="40">
        <img src="{% static 'core/Imagenes/Logos-img/Pagos/pay-webpay.png' %}" width="40">
      </div>
  </div>
</div>
{% endblock %}
