{% extends 'core/base_generic.html' %}
{% load static %}
{% block title %}Gabinetes - PC Builds{% endblock %}

{% block content %}
<div class="container text-center banernegro bg-dark text-white">
    <div class="row">
        <div class="col-12">
            <h1>GABINETES</h1>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row align-items-center">
        <div class="col-sm-4 text-capitalize pt-4">
            <h4>GABINETE THERMALTAK</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-componentes/gabinete1.png' %}" alt="Gabinete Thermaltak"></a>
            <h3 class="pt-5">$33.580</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>Mejor gabinete calidad precio del mercado</p>
            <a href="{% url 'fichacomponentes' %}">Más detalles</a>
        </div>

        <div class="col-sm-4 text-capitalize pt-4">
            <h4>GABINETE COUGAR</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-componentes/gabinete2.jpg' %}" alt="Gabinete Cougar"></a>
            <h3 class="pt-5">$35.990</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>Mejor gabinete calidad precio del mercado</p>
            <a href="{% url 'fichacomponentes' %}">Más detalles</a>
        </div>

        <div class="col-sm-4 text-capitalize pt-4">
            <h4>GABINETE PCEXPRES</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-componentes/gabinete3.png' %}" alt="Gabinete PCExpres"></a>
            <h3 class="pt-5">$49.990</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>Mejor gabinete calidad precio del mercado</p>
            <a href="{% url 'fichacomponentes' %}">Más detalles</a>
        </div>  
    </div>  
</div>  
{% endblock %}
