{% extends "core/base_generic.html" %}
{% load static %}

{% block title %}Placas Madres{% endblock %}

{% block content %}
<div class="container text-center banernegro bg-dark text-white">
    <div class="row">
        <div class="col-12">
            <h1>PLACAS MADRES</h1>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row align-items-center">
        <div class="col-sm-4 text-capitalize pt-4">
            <h4>STEEL LEGEND B450</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-placasmadres/300.pgn.webp' %}"></a>
            <h3 class="pt-5">$169.990</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>Asrock B450 Steel Legend Am4 Atx Motherboard Slots memorias 4x DDR4</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>

        <div class="col-sm-4 text-capitalize pt-4">
            <h4>AORUS B660M</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-placasmadres/300.png' %}"></a>
            <h3 class="pt-5">$210.990</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>Placa base B660M AORUS PRO LGA 1700, 128GB, Intel Core, compatible con 12 Gen, Micro ATX,</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>

        <div class="col-sm-4 text-capitalize pt-4">
            <h4>Aorus B450 Pro WIFI</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-placasmadres/300.webp' %}"></a>
            <h3 class="pt-5">$168.990</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>AMD B450 Socket AM4 Capacidad máxima soportada de la memoria RAM: 64 GB</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-sm-4 text-capitalize pt-4">
            <h4>ASUS PRIME B450</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-placasmadres/ASUSPRIMEB450M.webp' %}"></a>
            <h3 class="pt-5">$110.990</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>PLACA MADRE B450 IDEAL PARA JUEGOS COMO LOL, MINECRAFT</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>

        <div class="col-sm-4 text-capitalize pt-4">
            <h4>Asus Prime A320m-k Ryzen</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-placasmadres/AS320MQMP7-1-300x300.jpg' %}"></a>
            <h3 class="pt-5">$72.990</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>AMD A320 memoria compatibles DDR4-SDRAM Conectores USB 3.0</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>
    </div>
</div>
{% endblock %}
