{% extends "core/base_generic.html" %}
{% load static %}

{% block title %}Política de Reembolso{% endblock %}

{% block content %}
<div class="container">
    <center><h1>Política de Reembolso</h1></center>
    <p>Solo se aceptarán cambios y/o devoluciones en caso de que existan errores en la descripción del producto adquirido. Ante esta situación, favor escribirnos a contacto@pbuild.cl dentro de los 5 días siguientes a la entrega del producto.</p>
    <p>La garantía es aplicable a un fallo de fabricación de algún componente, la garantía la gestionamos nosotros directamente y puede tener periodos excepcionales según las condiciones mundiales.</p>
    <p>La garantía no es aplicable en productos con:</p>
    <ul>
        <li>Daño físico por maltrato de parte del cliente.</li>
        <li>Daño físico a causa de algún corte eléctrico que pueda producirse dentro del hogar donde se encuentre el producto.</li>
        <li>Daños debido a un incendio o factor externo que pueda afectar la funcionalidad del equipo y componentes.</li>
        <li>Intervención que tenga la intención de alcanzar una mayor o menor frecuencia de reloj para un componente electrónico por encima de las especificaciones del fabricante (overclocking / underclocking).</li>
        <li>Intervenciones por parte de terceros, como servicios técnicos no autorizados por el fabricante del componente.</li>
    </ul>
</div>
{% endblock %}
