{% extends "core/base_generic.html" %}
{% load static %}

{% block title %}Pre-Armados{% endblock %}

{% block content %}
<div class="container text-center banernegro bg-dark text-white">
    <div class="row">
        <div class="col-12">
            <h1>PRE-ARMADOS</h1>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row align-items-center">
        <div class="col-sm-4 text-capitalize pt-4">
            <h4>MARK-1</h4>
            <a href="{% url 'fichapc' %}"><img src="{% static 'core/Imagenes/img-items-pcgamers/imagenpcgamer1.png' %}"></a>
            <h3 class="pt-5">$997.590</h3>
            <a href="{% url 'fichapc' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>Equipo con un procesador de 12 hilos y una potente tarjeta gráfica RTX 2070 Super</p>
            <a href="{% url 'fichapc' %}">Mas detalles</a>
        </div>

        <div class="col-sm-4 text-capitalize pt-4">
            <h4>GALACTIC</h4>
            <a href="{% url 'fichapc' %}"><img src="{% static 'core/Imagenes/img-items-pcgamers/GALACTIC.png' %}"></a>
            <h3 class="pt-5">$1.490.000</h3>
            <a href="{% url 'fichapc' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>Equipo con un procesador de 12 hilos y una potente tarjeta gráfica RTX 3060 Super</p>
            <a href="{% url 'fichapc' %}">Mas detalles</a>
        </div>

        <div class="col-sm-4 text-capitalize pt-4">
            <h4>SUPER MOBA</h4>
            <a href="{% url 'fichapc' %}"><img src="{% static 'core/Imagenes/img-items-pcgamers/imagenpcgamer1.png' %}"></a>
            <h3 class="pt-5">$657.590</h3>
            <a href="{% url 'fichapc' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>Equipo con un procesador de 6 hilos y una potente tarjeta gráfica AMD 50500F Super</p>
            <a href="{% url 'fichapc' %}">Mas detalles</a>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-sm-4 text-capitalize pt-4">
            <h4>SHARK 4000</h4>
            <a href="{% url 'fichapc' %}"><img src="{% static 'core/Imagenes/img-items-pcgamers/vampire.png' %}"></a>
            <h3 class="pt-5">$1.340.990</h3>
            <a href="{% url 'fichapc' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>Equipo con un procesador de 12 hilos y una potente tarjeta gráfica RTX 3060 Super</p>
            <a href="{% url 'fichapc' %}">Mas detalles</a>
        </div>

        <div class="col-sm-4 text-capitalize pt-4">
            <h4>COLIBRI</h4>
            <a href="{% url 'fichapc' %}"><img src="{% static 'core/Imagenes/img-items-pcgamers/Bestia.png' %}"></a>
            <h3 class="pt-5">$500.000</h3>
            <a href="{% url 'fichapc' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>Equipo con un procesador de 6 hilos y una potente tarjeta gráfica Radeon Phantom Gaming RX 550</p>
            <a href="{% url 'fichapc' %}">Mas detalles</a>
        </div>
    </div>
</div>
{% endblock %}
