{% extends "core/base_generic.html" %}
{% load static %}

{% block title %}Procesadores{% endblock %}

{% block content %}
<div class="container text-center banernegro bg-dark text-white">
    <div class="row">
        <div class="col-12">
            <h1>PROCESADORES</h1>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row align-items-center">
        <div class="col-sm-4 text-capitalize pt-4">
            <h4>procesador intel core i3</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-procesadores/corei3.webp' %}"></a>
            <h3 class="pt-5">$101.990</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>PROCESADOR INTEL I3 10100F 4 NUCLEOS 3,6 GHZ 6 MB LGA1200</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>

        <div class="col-sm-4 text-capitalize pt-4">
            <h4>PROCESADOR INTEL CORE I5</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-procesadores/corei5.jpg' %}"></a>
            <h3 class="pt-5">$269.990</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <P>PROCESADOR INTEL CORE I5-9500 3GHZ LGA1151 6 NÚCLEOS</P>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>

        <div class="col-sm-4 text-capitalize pt-4">
            <h4>PROCESADOR INTEL CORE I7</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-procesadores/corei7.jpg' %}"></a>
            <h3 class="pt-5">$575.990</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>PROCESADOR INTEL CORE I7 12700K 3.6 GHZ LGA1700 25MB CACHE</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-sm-4 text-capitalize pt-4">
            <h4>PROCESADOR RYZEN 3</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-procesadores/ryzen3.jpg' %}"></a>
            <h3 class="pt-5">$120.000</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>Incluye 4 núcleos de procesador para procesamiento y juegos de rendimiento, con verdadera inteligencia computacional para analizar y adaptarse a tus necesidades</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>
    </div>
</div>
{% endblock %}
