{% extends "core/base_generic.html" %}
{% load static %}

{% block title %}Tarjetas de Video{% endblock %}

{% block content %}
<div class="container text-center banernegro bg-dark text-white">
    <div class="row">
        <div class="col-12">
            <h1>TARJETAS DE VIDEO</h1>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row align-items-center">
        <div class="col-sm-4 text-capitalize pt-4">
            <h4>TARJETA DE VIDEO ZOTAC GEFORCE RTX 3050 TWIN EDGE 8GB GDDR6</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-componentes/targeta1.png' %}"></a>
            <h3 class="pt-5">$495.990</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>Equipada con tecnologia GDDR6 de ultra velocidad, con 3 fans de 120mm para una mejor ventilacion.</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>

        <div class="col-sm-4 text-capitalize pt-4">
            <h4>TARJETA DE VIDEO GIGABYTE GEFORCE RTX 2080 OC 8G GDDR6 </h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-componentes/targeta2.png' %}"></a>
            <h3 class="pt-5">$925.990</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>La RTX 2080 se encuentra catalogada como la mejor tarjeta calidad precio de este 2022, utiliza tecnologia GRDD6.</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>

        <div class="col-sm-4 text-capitalize pt-4">
            <h4>TARJETA DE VIDEO ASUS ROG STRIX GTX 1030 EVO GAMING - 4GB GDDR5</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-componentes/targeta3.png' %}"></a>
            <h3 class="pt-5">$182.990</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>Considerada como una tarjeta low cost para ofimatica, la gt 1030 no se queda atras sobre todo en juegos de medios recursos</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>  
    </div>

    <div class="row">
        <div class="col-sm-4 text-capitalize pt-4">
            <h4>ZOTAC GEFORCE GTX 1650 AMP 4GB GDDR6</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-componentes/300.png' %}"></a>
            <h3 class="pt-5">$384.990</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>Con tecnología NVIDIA Turing Architecture posee un mejor rendimiento en juegos</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div> 
        <div class="col-sm-4 text-capitalize pt-4">
            <h4>Zotac GeForce RTX 3050 Twin Edge, 8GB, GDDR6</h4>
            <a href="{% url 'fichacomponentes' %}"><img src="{% static 'core/Imagenes/img-items-componentes/zotac3050.png' %}"></a>
            <h3 class="pt-5">$558.890</h3>
            <a href="{% url 'fichacomponentes' %}"><button type="button" class="btn btn-info btn-lg btn-block">Cómpralo Ahora</button></a>
            <p>GPU GeForce RTX 3050 Video Memory 8GB GDDR6 Cooling IceStorm 2.0</p>
            <a href="{% url 'fichacomponentes' %}">Mas detalles</a>
        </div>
    </div>
</div>   
{% endblock %}
