{% extends "core/base_generic.html" %}
{% load static %}

{% block title %}Términos y Condiciones{% endblock %}

{% block content %}
<div class="container">
    <center><h1>Términos y Condiciones</h1></center>
    <p>Precio de cada equipo que está en nuestro sitio está sujeto a validación de STOCK y PRECIO.</p>
    <p>El stock y precio disponible publicado es solo referencial y puede haber variado en el momento de ingresar una orden de compra.</p>
    <p>No cuenta con garantía voluntaria de satisfacción.</p>
    <p>No se podrá ejercer derecho de retracto por no gusto del cliente, en conformidad con la ley N°19496 el derecho a retracto no se ejerce en bienes hechos a la medida con las especificaciones que entregó el cliente.</p>
    <p>Solo se aceptarán cambios y/o devoluciones en caso de que existan errores en la descripción del producto adquirido. Ante esta situación, favor escribirnos a contacto@pbuild.cl dentro de los 5 días siguientes a la entrega del producto.</p>
    <p>La garantía es aplicable a un fallo de fabricación de algún componente, la garantía la gestionamos nosotros directamente y puede tener periodos excepcionales según las condiciones mundiales.</p>
    <p>La garantía no es aplicable en productos con:</p>
    <ul>
        <li>Daño físico por maltrato de parte del cliente.</li>
        <li>Daño físico a causa de algún corte eléctrico que pueda producirse dentro del hogar donde se encuentre el producto.</li>
        <li>Daños debido a un incendio o factor externo que pueda afectar la funcionalidad del equipo y componentes.</li>
        <li>Intervención que tenga la intención de alcanzar una mayor o menor frecuencia de reloj para un componente electrónico por encima de las especificaciones del fabricante (overclocking / underclocking).</li>
        <li>Intervenciones por parte de terceros, como servicios técnicos no autorizados por el fabricante del componente.</li>
    </ul>
    <p>Recordar que nuestros métodos de pago principales son MercadoPago y Transferencia bancaria.</p>
</div>
{% endblock %}
