{% extends 'core/base_generic.html' %}

{% block content %}
<h2>Carrito de compras</h2>
<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for item in carrito.items.all %}
        <tr>
            <td>{{ item.producto.nombre }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.producto.precio }}</td>
            <td>{{ item.total }}</td>
            <td>
                <form action="{% url 'eliminar_del_carrito' item.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3">Total</td>
            <td>{{ carrito.total }}</td>
            <td></td>
        </tr>
    </tbody>
</table>
{% endblock %}